ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin4834160105
NEXT_PUBLIC_LINE_URL=https://lin.ee/t6hLhPQ
NEXT_PUBLIC_MESSENGER_URL=https://m.me/yourstore
CLOUDINARY_CLOUD_NAME=dfeforbwi
CLOUDINARY_API_KEY=785882368256452
CLOUDINARY_API_SECRET=2N8NmVRp9hkGNJZyXGT79eH4fLY
NEXT_DISABLE_TURBOPACK=1
LINE_CHANNEL_ACCESS_TOKEN=v2tqXi3e4JY4KodpuV3VAl4gc69xX4I4rpVT2XL8oY1MwiO/AUTkGtcn4Lnyy+1mhyuWSDBXjAuAIN08O3JUMZWeJVWEyvvDMdgZV2StluKZacdgXPx9ujmctlzRF1xiOT45mbPN+G0oSTo7T+5negdB04t89/1O/w1cDnyilFU=
LINE_USER_ID=U6b0ba749b0de8efa99ceb77d7792983c
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDatFs1bg0AACvm08Me3Ix3lu1tBS1lX-I
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=softblue-store.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=softblue-store